{% block stylesheets %}
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Cabin&display=swap" rel="stylesheet">
{% endblock %}

<footer class="bg-dark w-100 py-2 d-flex flex-column align-items-center">
    <a href="{{ path('home') }}">
        <img style="height: 50px;" src="{{ asset(user_path~'/logo-white.png') }}">
    </a>
    <div class="text-light">Tous droits réservés &copy; 2019</div>
</footer>